.product {
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  &--img {
    background-color: #808080;
    height: 100px;
    margin-bottom: 10px;
  }
  &--favotites {
    text-align: end;
    margin-bottom: 10px;
    cursor:auto;
    & svg {
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:hover {
        color: gold;
      }
    }
  }
  &--informations {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &__price {
      font-weight: 600;
      font-size: 18px;
    }
    &__stock {
      margin-left: 5px;
      font-size: 14px;
    }
  }
  &--title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &--buy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    & > * {
      background-color: #ffffff;
      border-radius: 6px;
      border: 1px solid #000000;
      padding: 5px 15px;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:hover {
        background-color: #1677ff;
        border: 1px solid #ffffff;
      }
    }
  }
  &--more {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: #1677ff;
      border: 1px solid #ffffff;
    }
  }
  &--colors {
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    &__item {
      width: 15px;
      height: 15px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 50%;
      background-color: #000000;
      transition: all 0.2s ease-in;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  &--sizes {
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &__item {
      font-size: 14px;
      margin: 0 5px;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
}
