.content {
    display:flex;
    margin-top: 30px;
    margin-left:35px;
    gap:250px;

    .feed {
        display:flex;
        flex-direction: column;
        max-width: 780px;
        flex:3;
        
        .searchBar {
            display:flex;
            justify-content: space-between;
            margin-bottom: 15px;
            gap: 50px;

            .contextSearch {
                width: 260px;
            }

            .chooseBlock {
                display:flex;
                justify-content: space-between;
                align-items: center;
                width: 285px;
            }
        }

        .newsBlock {
            display: flex;
            flex-direction: column;
            gap:35px;

            .news {
                display: flex;
                flex-direction: column;
    
                .typeOfNews {
                    color:#00aa2b;
                }
    
                .dateAndCreator {
                    display: flex;
                    gap: 40px;
                    color: #818183
                }
            }
    
            .commentAndLikeSection {
                display: flex;
                width: 100%;
    
                .commentSection {
                    color: #818183
                }
    
                .likeSection {
                    display: flex;
                    gap:10px;
    
                    .notZeroLikes {
                        color: #00aa2b
                    }
        
                    .notZeroDisLikes {
                        color: #aa0000
                    }
                }
            }
        }
    }

    .eventsAndCongrats {
        display:flex;
        flex-direction: column;
        flex:2;

        .eventBlock {
            display:flex;   
            flex-direction: column;
            justify-content: space-between;
            width: 300px;
            gap:10px;
            margin-bottom: 30px;
            padding-left:20px;

            .event {
                color: #0000ff
            }
        }

        .title {
            padding-left:20px;
        }

        .congratsBlock {
            display:flex;
            flex-direction: column;
            gap:20px;
            margin-top: 30px;
        }
    }
}

