.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

    &__items{
        width: 70%;
        padding-right: 1.5rem;
    }

    &__loader, &__empty{
        text-align: center;
    }

    &__error{
        text-align: center;
        color: red;
    }

    &__oreder-info{
        width: 30%;
        padding: 0.5rem;
    }

    &__button{
        width: 100%;
        margin-top: 0.5rem;
        color: #ffffff;
        background-color: #ff0000;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
    }
}