.thanks{
    padding: 1rem;

    .form{
       &__item{
            display: flex;
            align-items: flex-start;
            margin-bottom: 1rem;
        }

        &__label, &__input-wrapper{
            width: 15%;
        }

        &__input{
            width: 100%;
        }
                
        &__textarea{
            width: 30%;
        }
        
        &__button{
            margin-right: 1rem;

            &:last-child{
                margin-right: 0;
            }
        }

        .error, .success{
            color: #ffffff;
            background-color: #ff0000;
            width: 45%;
            padding: 0.5rem;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 0.5rem;
        }

        .success{
            background-color: #008000;
        }
    }  
}