.favoriteGoods {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 1000px;
    padding-left: 2rem;
    padding-bottom: 2rem;

    .topButtons {
        display: flex;
        justify-content: space-between;

        .deleteAllButton {
            padding: 3px 6px 3px 6px;
            box-shadow: 3px 3px 3px #000000;
        }

        .sortBlock {
            display: flex;
            align-items: center;
            gap: 5px;

            .sortIcons {
                font-size: 150%;
            }
        }
    }
}