.content {
    display:flex;
    margin-top: 30px;
    margin-left:35px;
    gap:250px;

    .feed {
        display:flex;
        flex-direction: column;
        max-width: 780px;
        flex:3;
    }

    .eventsAndCongrats {
        display:flex;
        flex-direction: column;
        flex:2;

        .eventBlock {
            display:flex;   
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            gap:10px;
            margin-bottom: 30px;
            padding-left:60px;
        }
    }
}

