.header{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .menu{
        display: flex;
        align-items: center;
        flex-direction: row;
        //margin-bottom: 1rem;

        // &__icon{
        //     color: #ffa500;
        //     rotate: 10deg;
        //     margin-right: 0.4rem;
        //     font-size: 1.3rem;
        // }

        &__link{
            margin-right: 2rem;
            color: #000000;
            cursor: pointer;
            text-decoration: none;
            
            &:hover{
                text-decoration: underline;
            }

            @media screen and (max-width: 1030px) {
                margin-right: 1.5rem;
            }
            
            @media screen and (max-width: 940px) {
                margin-right: 1rem;
            }
            
            @media screen and (max-width: 785px) {
                &.open{
                    display: block;
                    text-align: center;
                    margin: 1rem;
                    font-size: 1rem;
                }
            }
        }

        @media screen and (max-width: 785px) {
            display: none;
            
            &.open{
                height: 100vh;
                top: 3.2rem;
                left: 0;
                background-color: #ffffff;
                display: block;
                position: fixed;
                width: 100%;
                z-index: 1;
	        }
        }        
    }

    //&__info{
    //     display: flex;
    //     width: 100%;
    //     justify-content: space-between;
        
        // &__right{
        //     width: 40%;
        //     display: flex;
        //     align-items: center;

        //     &__text{
        //         display: flex;

        //         &__title{
        //             font-size: 2rem;
        //             margin: 0;

        //             @media screen and (max-width: 980px) {
        //                 font-size: 1.5rem;
        //             }

        //             @media screen and (max-width: 680px) {
        //                 font-size: 1rem;
        //             }
        //         }
    
        //        &__icon{
        //             color: #ffa500;
        //             font-size: 2rem;
        //             rotate: 5deg;
        //             top: 0;
        //             right: 0;
        //             margin-left: 0.5rem;
        //             margin-top: 0.3rem;

        //             @media screen and (max-width: 980px) {
        //                 font-size: 1.5rem;
        //             }
                    
        //             @media screen and (max-width: 680px) {
        //                 font-size: 1rem;
        //                 margin-top: 0.1rem;
        //             }
        //         }
        //     }          
    
        //    &__search{
        //         width: 100%;
               
        //         @media screen and (max-width: 850px) {
        //             margin-right: 0.5rem; 
        //         }
        //     } 

        //     @media screen and (max-width: 565px) {
        //         width: 100%;
        //     }
        // }

        // &__left{
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;

            .mobile-menu{
                position: relative;

                .burger{
                    display: none;

                    @media screen and (max-width: 785px) {
                        display: block;
                        position: absolute;
                        top: -0.8rem;
                        left: 0;
                        width: 1.7rem;
                        height: 1.5rem;
                        transform: rotate(0deg);
                        transition: all .5s ease-in-out;
                        cursor: pointer;
                                        
                        &__span{
                            display: block;
                            position: absolute;
                            width: 100%;
                            opacity: 1;
                            left: 0;
                            transform: rotate(0deg);
                            transition: all .25s ease-in-out;
                            height: 0.1rem;
                            background-color: #000000;

                            &:nth-child(1){
                                top: 0;
                            }
            
                            &:nth-child(2), &:nth-child(3){
                                top: 0.5rem;
                            }
                    
                            &:nth-child(4){
                                top: 1rem;
                            }

                            &.open{
                                &:nth-child(1), &:nth-child(4){
                                    top: 0.5rem;
                                    width: 0;
                                    left: 50%;   
                                }
                                
                                &:nth-child(2){
                                    transform: rotate(45deg);
                                }
                                
                                &:nth-child(3){
                                    transform: rotate(-45deg);
                                }     
                            }
                        }
                    }
                }
            }
            
            .profile-info{
                display: flex;
                align-items: center;        
    
                &__balance{
                    margin-right: 1rem;
                }
                    
                &__title{
                    color: #ffa500;
                }
        
                .shopping-cart{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;

                    &__link{
                        color: #000000;
                    }

                    &__icon{
                        font-size: 1.5rem;
                        padding-right: 5rem;

                        @media screen and (max-width: 1085px) {
                            font-size: 1rem; 
                            padding-right: 4.5rem;
                        }

                        @media screen and (max-width: 940px) {
                            padding-right: 4rem;
                        }

                        @media screen and (max-width: 785px) {
                            font-size: 1.5rem;
                            padding-right: 5rem;
                        }

                        @media screen and (max-width: 540px) {
                            font-size: 1rem; 
                            padding-right: 4.5rem;
                        }
                    }
        
                    &__section{
                        position: absolute;
                        top: -1rem;
                        right: 0rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        @media screen and (max-width: 1085px) {
                            top: -0.5rem;
                        }

                        @media screen and (max-width: 785px) {
                            top: -1rem;
                        }
                        @media screen and (max-width: 540px) {
                            top: -0.5rem;
                        }
                    }
                        
                    &__quantity{
                        color: #ff0000;
                        margin-right: 0.5rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        border: 1.5px solid red;
                        text-align: center;
                        border-radius: 50%;

                        @media screen and (max-width: 1085px) {
                            width: 1.15rem;
                            height: 1.15rem;
                            border: 1px solid red;
                        }

                        @media screen and (max-width: 940px) {
                            margin-right: 0.2rem;
                        }

                        @media screen and (max-width: 785px) {
                            margin-right: 0.5rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            border: 1.5px solid red;
                        }

                        @media screen and (max-width: 540px) {
                            width: 1.15rem;
                            height: 1.15rem;
                            border: 1px solid red;
                        }

                        
    
                        // &:after{
                        //     content: "";
                        //     width: 1rem;
                        //     height: 1rem;
                        //     position: absolute;
                        //     left: -0.35rem;
                        //     border: 1.5px solid #ff0000;
                        //     border-radius: 50%;

                        //     @media screen and (max-width: 980px) {
                        //         width: 0.9rem;
                        //         height: 0.9rem;
                        //         position: absolute;
                        //         left: -0.3rem;
                        //         border: 1px solid #ff0000; 
                        //     }                            
                        // }
                    }
        
                    &__price{
                        color: #ff0000;
                    }
                }
    
                .user{
                    display: flex;
                    align-items: center;
    
                    &__image{
                        font-size: 2rem;
                        margin-right: 0.5rem;

                        @media screen and (max-width: 1085px) {
                            font-size: 1rem; 
                        }

                        @media screen and (max-width: 785px) {
                            font-size: 2rem;
                        }

                        @media screen and (max-width: 540px) {
                            font-size: 1rem; 
                        }
                    }
                }
            }
        //}
        
        // @media screen and (max-width: 785px) {
        //     flex-direction: column-reverse;
        // }
    //}
      
    .dropdown__p{
        margin-right: 0.5rem;
    }

    @media screen and (max-width: 1160px) {
        font-size: 0.9rem; 
    }

    @media screen and (max-width: 1085px){
        font-size: 0.8rem; 
    }

    @media screen and (max-width: 940px) {
        font-size: 0.7rem; 
        padding: 1rem;
    }

    @media screen and (max-width: 785px) {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    
    @media screen and (max-width: 540px){
        font-size: 0.8rem; 
    }
}
