.congratsElem {
    display:flex;
    width: 400px;
    margin-bottom: 10px;
    gap:10px;
    
    .getCurrency {
        color: #00aa2b;
        min-width: 50px;
        text-align: end;

    }

    .lostCurrency {
        color: #aa0000;
        width: 50px;        
        text-align: end;
    }

    .infoBlock {
        width: 100%;
        width: 350px;

        .dateAndCreator {
            display: flex;
            flex-direction: column;
            color: #818183
        }

        .commentAndLikeSection {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .commentSection {
                color: #818183
            }

            .likeSection {
                display: flex;
                gap:10px;

                .notZeroLikes {
                    color: #00aa2b
                }
    
                .notZeroDisLikes {
                    color: #aa0000
                }

                .zeroLikesOrDis {
                    color: #818183
                }
            }
        }
    }
}