.FavProductBlock {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 15px;
    margin-bottom: 10px;

    border:1px solid #000000;
    border-radius: 20px;

    .fotoAndInfo {
        display: flex;
        gap:25px;

        .infoAboutItem {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .colorsAndSizes {
                display: flex;
                flex-direction: column;
                gap:14px;

                .colorBlock {
                    display: flex;
                    gap:8px;

                    .colorElem {
                        width: 1rem;
                        border-radius: 50%;
                        border:1px solid #000000;
                    }
                }

                .sizesBlock {
                    display: flex;
                    gap:8px;
                }
            }
        }
    }

    .priceAndButtonsBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;

        .favIcon {
            align-self: flex-end;
            font-size: 2rem;
            rotate: 5deg;
            margin-left: 0.5rem;
            margin-top: 0.3rem;
        }

        .gold {
            color: #ffa500;
        }

        .priceAndButtonsSection {
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            gap:20px;

            .priceBlock {
                align-self: self-start;
            }

            .buttonsBlock {
                display: flex;
                flex-direction: column;
                gap:15px;
                width: 180px;
    
                .buyAndInCart {
                    display: flex;
                    justify-content: space-between;
    
                    .buttonStyled {
                        box-shadow: 3px 3px 3px #000000;
                        border-radius: 4px;
                        padding: 3px 10px 4px 10px;
                    }

                    .greenButton {
                        background-color:#158d05;
                        color:#ffffff
                    }
                }
            }
        }        
    }
}